
.panelone-buttons-dark {
    .panelone-buttons {
        background: #131315;
        .panelone-button {
            background: #21293A;
            color: deeppink;
        }
    }
}
.panelone-panel-dark {
    color: white;
    background: black;
    .panelone-close {
        background: white;
        color: black;
    }
}
