
.panelone-buttons-light {
    .panelone-buttons {
        background: ghostwhite;
        .panelone-button {
            background: white;
            color: deepskyblue;
        }
    }
}
.panelone-panel-light {
    color: black;
    background: white;
    .panelone-close {
        background: black;
        color: white;
    }
}
