@import "mediaquery";
@import "mixins";
@import "dark_theme";
@import "light_theme";

$buttons: 50px;
$max-z-index: 100000;
$max-levels: 50;
$min-z-index: $max-z-index - $max-levels;

.panelone-buttons-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $buttons;
    overflow: hidden;
    z-index: $max-z-index + 5;
    &.panelone-buttons-left {
        left: 0;
        transition: all .33s ease;
        transform: translateY(0);
        &.panelone-buttons-hidden {
            transform: translateX(-100%);
        }
    }
    &.panelone-buttons-right {
        right: 0;
        transition: all .33s ease;
        transform: translateY(0);
        &.panelone-buttons-hidden {
            transform: translateX(100%);
        }
    }
    .panelone-buttons {
        overflow-y: scroll;
        width: $buttons + 16px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        .panelone-button {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 19px;
            font-weight: 700;
            padding: 13px;
            margin: 1px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $buttons;
            box-sizing: border-box;
        }
    }
}
.panelone-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: $max-z-index - 1;
    transition: all .33s ease;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 45px;
    box-sizing: border-box;
    &.panelone-panel-left, &.panelone-panel-right {
        .panelone-close {
            position: absolute;
            top: 6px;
            padding: 10px;
            font-size: 11px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        &.panelone-show {
            transform: translateX(0);
            z-index: $max-z-index;
            opacity: 1;
        }
        &.panelone-active {
            z-index: $max-z-index + 1;
        }
    }
    &.panelone-panel-left {
        left: $buttons;
        transform: translateX(-100%);
        .panelone-close {
            right: 6px;
        }
    }
    &.panelone-panel-right {
        right: $buttons;
        transform: translateX(100%);
        .panelone-close {
            left: 6px;
        }
    }
}

.panelone-panel-right.panelone-panel.panelone-show {
    @for $i from 2 through 20 {
        &[data-index='#{$i}'] {
            .panelone-close {
                display: none;
            }
            transform: scale(pow(.9955, $i - 1)) translateX(($i - 1) * -2.34px) !important;
            z-index: #{$max-z-index - $i - 2} !important;
            opacity: 1 / $i !important;
        }
    }
}

.panelone-panel-left.panelone-panel.panelone-show {
    @for $i from 2 through 20 {
        &[data-index='#{$i}'] {
            .panelone-close {
                display: none;
            }
            transform: scale(pow(.9955, $i - 1)) translateX(($i - 1) * 2.34px) !important;
            z-index: #{$max-z-index - $i - 2} !important;
            opacity: 1 / $i !important;
        }
    }
}
